@media screen and (min-width: 760px) {

    header {
        padding: 1em 5em;
    }

    #logo img {
        height: 70px;
    }

    #detalhes, #servicos, #unidade, #sobre, footer {
        padding: 3em 5em;
    }

    #menu_maior {
        display: block;
    }

    #menu_maior a {
        font-size: 1.4em;
    }

    #botao_menu {
        display: none;
    }

    #principal {
        padding: 10em 1.5em;
        background-attachment: fixed; 
    }

    #principal_conteudo {
        padding: 0 5em;
    }

    #principal_conteudo h1 {
        font-size: 5em;
    }
    
    #principal_conteudo h2 {
        font-size: 3em;
    }
    
    #principal_conteudo p {
        font-size: 2em;
    }

    #botao_agende {
        font-size: 1.5em; 
    }

}